define host {
    host_name  {{ item }}
    address {{ hostvars[item].ansible_host }}
    check_command check-ping
    max_check_attempts 5
    active_checks_enabled 1
    passive_checks_enabled 1
}

define service {
    service_description ntp_process
    host_name {{ item }}
    check_command check_ntp
    check_interval 10
    retry_interval 2
    max_check_attempts 3
    notification_interval 30
}